$color-text-header-fork: #8d81ac;
$bg-color-header: #27262a;
$bg-color-mod-menu: #333333;
$color-text-section-fork: #848e97;
$ff-family: "Montserrat";
$ff-lato: "Lato";
$bp-min-tablet: 481px;
$bp-max-tablet: 992.5px;
$bp-min-desc: 993px;

$present-color-title: #635C73;

$color-title3: #323232;
$git-icons--color-btn-border: rgba(27, 31, 36, 0.15);
$git-icons--color-btn-counter-bg: rgba(27, 31, 36, 0.08);
$git-icons--color-fg-muted: #57606a;
$features-color-title: #8D81AC;
$features-color-text: #848E97;
$features-color-background-desk: #F4F4F4;
$bg-color-sub-block:rgba(255, 255, 255, 0.1);
$bg-color-sub-block-btn:rgba(255, 255, 255, 0.15);
$bg-color-sub-block-title:rgba(255, 255, 255, 0.05);
$bg-color-sub-block-agen:#463048;
$bg-color-sub-block-agen-title:rgba(0, 0, 0, 0.1);
$sub-block--width: 257px;
$sub-block-activ--width: 299px;
$sub-block--height: 457px;
$sub-block-activ--height: 560px;
$tablet-bp: 481px;
$desk-bp: 993px;
$max-bp: 1200px;
$min-bp: 320px;


$color-fork-about-desc: #a291a5;

