@import './utils/variables';
@import './utils/mixins';
// -----
.section-present {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    min-width: $min-bp;
    margin: auto;
    @media (min-width: $tablet-bp) {
        min-width: 768px;
        padding-top: 93px;
    }
    @media (min-width: $desk-bp) {
        padding-top: 66px;
    }
}

.section-present__title {
    @include font-monserrat;
    font-size: 26px;
    line-height: 28px;
    color: $present-color-title;
    text-align: center;
    width: 273px;
    margin: auto;
    @media (min-width: $tablet-bp) {
        width: 100%;
        margin: auto;
        font-size: 42px;
        line-height: 42px;
    }
    @media (min-width: $desk-bp) {
        font-size: 54px;
        line-height: 54px;
    }
}

.section-present__text {
    color: $color-title3;
    text-align: center;
    @include font-lato;
    font-size: 14px;
    line-height: 20px;
    padding-top: 27px;
    margin: auto;
    @media (min-width: $tablet-bp) {
        font-size: 21px;
        line-height: 32px;
        padding-top: 33px;
    }
    @media (min-width: $desk-bp) {
        width: 861px;
        padding-top: 35px;
    }
}